<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Software News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="/Form-Project-guncel/static/style.css">
</head>
<body>
    <div id="bar">
        <nav>
            {{if .LoggedIn}}
                <a href="/logout">Log Out</a>
            {{else}}
                <a href="/login">Log In</a> | 
                <a href="/register">Register</a>
            {{end}}
        </nav>
        <span class="theme-mode"></span>
    </div>
    <div id="left"></div>
    <div id="center"></div>
    
    <h2>Posts</h2>
    <ul>
        {{range .Posts}}
            <li>
                <h3><a href="/viewPost?id={{.ID}}">{{.Title}}</a></h3>
                <p>{{.Content}}</p>
                <small>Posted by {{.Username}} on {{.CreatedAtFormatted}}</small>
                <p>Likes: {{.LikeCount}} Dislikes: {{.DislikeCount}}</p>
            </li>
        {{end}}
    </ul>
    {{if .LoggedIn}}
        <a href="/createPost">Create a new post</a>
    {{else}}
        <p><a href="/login">Log in</a> to create a new post.</p>
    {{end}}
</body>
</html>