body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="password"] {
    width: calc(100% - 12px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Kapat düğmesi stillemesi */
.close-btn {
    position: absolute;
    top: 10px; /* Üstten boşluk */
    right: 10px; /* Sağdan boşluk */
    width: 30px; /* Genişlik */
    height: 30px; /* Yükseklik */
    background-color: transparent; /* Arka plan rengi */
    border: none; /* Kenarlık */
    font-size: 24px; /* Yazı tipi boyutu */
    cursor: pointer; /* İmleç */
    color: black; /* Metin rengi */
    display: flex; /* Öğe görüntüleme */
    align-items: center; /* Öğeleri dikeyde hizalama */
    justify-content: center; /* Öğeleri yatayda hizalama */
}