<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/myprofil.css">
    <title>Document</title>
</head>
<body>
    <!-- Profil container -->
    <div class="profile-container">
        <!-- Geri dön butonu -->
        <button class="back-button" onclick="closeLogin()">Back to home</button>
        <!-- Profil resmi -->
        <img src="/static/png/pp.png" alt="Liyan Profil Fotoğrafı" class="profile-picture">
        <!-- Profil adı -->
        <h2>Liyan</h2>
        <!-- Profil bilgileri -->
        <div class="profile-info">
            <p><strong>Yaş:</strong> 21</p>
            <p><strong>Katılım:</strong> 29 Mayıs 2024</p>
            <p><strong>Son Etkinlik:</strong> Az Önce (Üye profilini görüntülüyor Liyan)</p>
        </div>
        <!-- Profil istatistikleri -->
        <div class="profile-stats">
            <div>
                <p><strong>Mesajlarım</strong></p>
                <p>10</p>
            </div>
            <div>
                <p><strong>Beğenilen Postlarım</strong></p>
                <p>2</p>
            </div>
            <div>
                <p><strong>Beğenilen Yorumlarım</strong></p>
                <p>768</p>
            </div>
        </div>
        <!-- Tema değiştirme düğmesi -->
        <button id="themeToggle">Toggle Theme</button>
    </div>
    <!-- Bilgi çubuğu -->
    <div id="bilgibar">
        <!-- Bilgi çubuğu içeriği -->
        <div id="bilgibarcont">My Posts</div>
        <div id="bilgibarcont">Liked Posts</div>
        <div id="bilgibarcont">My Comments</div>
    </div>
    <!-- JS betikleri, bunu çıkarınca tema çalışmıyor -->
    <script src="/static/scripts.js"></script>
    <!-- Tema değiştirme betiği -->
    <script>
        // Sayfa yüklendiğinde temayı ayarla
        window.onload = function() {
            let tema = localStorage.getItem("tema") || "light"; // Varsayılan tema
            document.body.classList.add(tema + "-mode"); // Varsa "light-mode" veya "dark-mode" ekle
        };

        // Tema değiştirme düğmesini dinle
        document.getElementById('themeToggle').addEventListener('click', function() {
            const currentTheme = document.body.classList.contains('light-mode') ? 'night-mode' : 'light-mode';
            changeTheme(currentTheme);
        });

        // Giriş sayfasına yönlendirme fonksiyonu
        function closeLogin() {
            window.location.href = 'index.html';
        }
    </script>
</body>
</html>