<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Software News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div id="düzenbar">
    <div id="bar">
        <img id="logo" src="/static/logo.png">
        <input type="text" id="searchBox"  placeholder="Arama Yapınız" onkeyup="searchLanguages()">
        <div id="darkmod">
        <span class="theme-mode">
            <span class="theme-mode">
                <a role="button" id="themeToggle" title="Tema Değiştir" href="javascript:void(0);">🌓
                  <i id="themeIcon" class="fas fa-sun"></i></a> 
              </span>
        </span>
    </div>
        <div id="girişbar">
            <nav>
                {{if .LoggedIn}}
                    <a href="/logout" class="button">Log Out</a>
                {{else}}
                    <a href="/login" class="button">Log In</a>
                    <a href="/register" class="button">Register</a>
                {{end}}
            </nav>
        </div>
    </div>
</div>

    <div id="left">
        <div id="centerolustur"></div>
    </div>

    <div id="center">
        <div id="centercont">
            {{range .Posts}}
            <div id="centerprofilcont">
                <h3>{{.Username}}</h3>
            </div>
                <div id="centersorubaslik">
                    <h3><a href="/viewPost?id={{.ID}}">{{.Title}}</a></h3>
                <p>Likes: {{.LikeCount}} Dislikes: {{.DislikeCount}}</p>
                {{.CreatedAtFormatted}}
                </div>
                <div id="centersorukatagori">
                    <p>{{.Content}}</p>
                </div>{{end}}
       </div> 
    </div>
   
    {{if .LoggedIn}}
        <a href="/createPost">Create a new post</a>
    {{else}}
        <p><a href="/login">Log in</a> to create a new post.</p>
    {{end}}
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>